@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kumar+One&family=PT+Sans+Caption:wght@400;700&display=swap');

body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: clamp(1.95rem, calc(1.81rem + 0.70vw), 2.44rem);
    font-family: 'JetBrains Mono', monospace;
}

h2{
    font-size: clamp(1.56rem, calc(1.45rem + 0.56vw), 1.95rem);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

h3{
    font-size: clamp(1.25rem, calc(1.16rem + 0.45vw), 1.56rem);
    font-family: 'JetBrains Mono', monospace;
}

h4{
    font-size: clamp(1.00rem, calc(0.93rem + 0.36vw), 1.25rem);
    font-family: 'JetBrains Mono', monospace;
}

h5{
    font-size: clamp(0.80rem, calc(0.74rem + 0.29vw), 1.00rem);
    font-family: 'JetBrains Mono', monospace;
}

h6{
    font-size: clamp(0.64rem, calc(0.59rem + 0.23vw), 0.80rem);
    font-family: 'JetBrains Mono', monospace;
}

h7{
    font-size: clamp(0.51rem, calc(0.48rem + 0.18vw), 0.64rem);
    font-family: 'JetBrains Mono', monospace;
}


nav ul{
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 0;
}

nav a{
    padding: 1.45em;
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: clamp(0.80rem, calc(0.74rem + 0.29vw), 1.00rem);
    text-align: center;
}

.curr-nav{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

header .daftar{
    display: flex;
    width: 15%;
    height: 100%;
    background-color: #FFCF25;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: clamp(1.25rem, calc(1.16rem + 0.45vw), 1.56rem);
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

header .daftar:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    height: 100%;
}

header nav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    height: 100%;
}

header{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    text-align: center;
}

header .daftar a{
    text-decoration: none;
    color: black;
}

.balik{
    transform: scaleX(-1);
}

.page-1 img{
    cursor: pointer;
}

.page-1 h1{
    color: rgba(78, 78, 78, 1);
    display: flex;
    background: rgba(217, 217, 217, 0.6);
    width: 30vw;
    justify-content: center;
    font-weight: 500;
}

.page-1{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/bg-char-1.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;

    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

#mondstadt{
    background-image: url("../assets/bg-char-2-mondstadt.png");
}

#liyue{
    background-image: url("../assets/bg-char-3-liyue.png");
}

#inazuma{
    background-image: url("../assets/bg-char-4-inazuma.png");
}

#sumeru{
    background-image: url("../assets/bg-char-5-sumeru.png");
}

#btn-albedo{
    background-image: url("../assets/icon-char-mondstadt-albedo-box.png");
}

#btn-jean{
    background-image: url("../assets/icon-char-mondstadt-jean-box.png");
}

#btn-zhongli{
    background-image: url("../assets/icon-char-liyue-zhongli-box.png");
}

#btn-ningguang{
    background-image: url("../assets/icon-char-liyue-ningguang-box.png");
}

#btn-yaemiko{
    background-image: url("../assets/icon-char-inazuma-yaemiko-box.png");
}

#btn-kazuha{
    background-image: url("../assets/icon-char-inazuma-kazuha-box.png");
}

#btn-alhaitam{
    background-image: url("../assets/icon-char-sumeru-alhaitam-box.png");
}

#btn-nilou{
    background-image: url(../assets/icon-char-sumeru-nilou-box.png);
}

.all-bg .group-row{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.content{
    width: 135px;
    height: 520px;
    background-color: black;
    cursor: pointer;
    margin: 0 0.1em;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-page .container{
    display: flex;
    flex-direction: row;

    margin-right: 3vw;
}

.slide-page .judul h1{
    margin: 0;
    padding: 0.01em 0.1em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: clamp(1.56rem, calc(1.45rem + 0.56vw), 1.95rem);
    border-bottom-right-radius: 20%;
}

.slide-page .judul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    position: absolute;
}


.slide-page{
    width: 100%;
    height: 100%;
    transition: 0.7s;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;

    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.page-2 .all-bg{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}

#btn-kiri{
    left: 0;
}

#btn-kanan{
    right: 0;
}

.btn{
    position: absolute;
    z-index: 5;
    cursor: pointer;
    opacity: 1;
}

.page-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    margin: 0;
    padding: 0;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer .sosial-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.sosial-media img{
    padding: 0.5em;
}

footer div h7{
    color: white;
    text-align: center;
    padding: 0.5em;
    display: flex;
        
}

footer div .policy{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

footer div{
    margin-top: 1vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

footer .logo-corporate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 44vh;
    justify-content: center;
    /* padding-top: 1em; */
}

@media screen and (max-width: 650px){
    #nav-logo-jenshin{
        display: none;
    }
}

@media screen and (max-width: 430px){
    nav a{
        padding: 1.6em;
    }
    header .daftar{
        display: none;
    }
    header{
        justify-content: center;
    }
}

@media screen and (max-width: 375px){
    nav a{
        padding: 1em;
    }    
}

@media screen and (max-width: 1100px){
    .page-1 h1{
        width: 40vw;
    }
}

@media screen and (max-width: 775px){
    .page-1 h1{
        width: 50vw;
    }
}

@media screen and (max-width: 600px){
    .page-1 h1{
        width: 60vw;
    }
}

@media screen and (max-width: 485px){
    .page-1 h1{
        width: 70vw;
    }
}

@media screen and (max-width: 410px){
    .page-1 h1{
        width: 77vw;
    }
}

@media screen and (max-width: 370px){
    .page-1 h1{
        width: 93vw;
    }

    .page-1 img{
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1350px){
    .group-row{
        transform: scale(0.9);
    }
}

@media screen and (max-width: 1075px){
    .group-row{
        transform: scale(0.8);
    }
}

@media screen and (max-width: 975px){
    .group-row{
        transform: scale(0.7);
    }
}

@media screen and (max-width: 870px){
    .group-row{
        transform: scale(0.6);
    }
}

@media screen and (max-width: 770px){
    .page-2 .all-bg .group-row{
        transform: scale(0.6);
        flex-direction: column;
    }
    .all-bg .group-row .container .content:first-child{
        margin-right: 2vw;
    }
    .all-bg .group-row .container{
        margin-top: 2vh;
    }
    .judul{
        z-index: 5;
    }
}

@media screen and (width: 768px) and (height: 1024px){
    .page-2 .all-bg .group-row{
        transform: scale(0.8);        
    }
}



@media screen and (max-width: 660px){
    .slide-page{
        justify-content: center;
        align-items: center;
    }
    .all-bg .judul{
        display: none;
    }
    .page-2 .all-bg .group-row{
        transform: scale(0.5);
    }
    
}

@media screen and (max-width: 510px){
    /* .group-row .char-desc{
        transform: scale(0.8);
    } */
    .btn{
        top: 0;
    }
}

@media screen and (max-width: 435px){
    .group-row .container{
        transform: scale(0.9);
        margin: 0 2vw;
    }
    /* .group-row .char-desc{
        transform: scale(0.8);
    } */
}

@media screen and (max-width: 390px){
    .btn{
        opacity: 0.5;
    }
}



@media screen and (max-width: 1064px){
    footer div{
        width: 70%;
    }
    footer .logo-corporate{
        width: 60%;
    }
}

@media screen and (max-width: 760px){
    footer div{
        width: 80%;
    }
    footer .logo-corporate{
        width: 70%;
    }
    footer .sosial-media{
        width: 50%;
    }
}

@media screen and (max-width: 585px){
    footer div{
        width: 90%;
    }
    footer .logo-corporate{
        width: 85%;
    }
    footer .sosial-media{
        width: 60%;
    }
}

@media screen and (max-width: 445px){
    footer div{
        width: 100%;
    }
    footer .logo-corporate{
        width: 120%;
        transform: scale(0.7);    
    }
    footer .sosial-media{
        width: 70%;
    }
}

@media screen and (max-width: 340px){
    footer div{
        width: 100%;
    }
    footer .sosial-media{
        width: 80%;
    }
    footer .logo-corporate{
        transform: scale(0.5);
    }
    footer h7{
        font-size: 8px;
    }
}