@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kumar+One&display=swap');

body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: clamp(1.95rem, calc(1.81rem + 0.70vw), 2.44rem);
    font-family: 'JetBrains Mono', monospace;
}

h2{
    font-size: clamp(1.56rem, calc(1.45rem + 0.56vw), 1.95rem);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

h3{
    font-size: clamp(1.25rem, calc(1.16rem + 0.45vw), 1.56rem);
    font-family: 'JetBrains Mono', monospace;
}

h4{
    font-size: clamp(1.00rem, calc(0.93rem + 0.36vw), 1.25rem);
    font-family: 'JetBrains Mono', monospace;
}

h5{
    font-size: clamp(0.80rem, calc(0.74rem + 0.29vw), 1.00rem);
    font-family: 'JetBrains Mono', monospace;
}

h6{
    font-size: clamp(0.64rem, calc(0.59rem + 0.23vw), 0.80rem);
    font-family: 'JetBrains Mono', monospace;
}

h7{
    font-size: clamp(0.51rem, calc(0.48rem + 0.18vw), 0.64rem);
    font-family: 'JetBrains Mono', monospace;
}


nav ul{
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 0;
}

nav a{
    padding: 1.45em;
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: clamp(0.80rem, calc(0.74rem + 0.29vw), 1.00rem);
    text-align: center;
}

.curr-nav{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

header .daftar{
    display: flex;
    width: 15%;
    height: 100%;
    background-color: #FFCF25;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: clamp(1.25rem, calc(1.16rem + 0.45vw), 1.56rem);
    color: rgba(0, 0, 0, 1);
}

header .daftar:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    height: 100%;
}

header nav a:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    height: 100%;
}

header{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    text-align: center;
}

section .home-1 .invokation{
    top: 9vh;
    margin-left: auto;
    position: relative;
}

section .home-1 .play-video img{    
    width: 70px;
    height: 8vh;
}

.home-1 .group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8vh;
}

section .home-1 .play-video img:hover{
    opacity: 0.6;
}

section .home-1 h2{
    color: white;
}

section .home-1 .download-list img{
    width: 85%;
    opacity: 0.6;
}

section .home-1 .download-list img:hover{
    opacity: 1;
}

section .home-1 .download-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

section .home-1{
    background-image: url("jenshinFolder/bg-homepage-1.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

section .home-2 .berita h2{
    font-weight: 500;
    padding: 1em;
}

section .home-2 .berita{
    margin-top: -2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    object-fit: scale-down;
    text-align: center;
}

.balik{
    transform: scaleX(-1);
}

.berita-container .inputan{
    display: flex;
    width: 100%;
    position: relative;
}

.berita-container h2{
    font-weight: 600;
}

.berita-container h3{
    font-weight: 500;
    font-family: 'Kumar One',cursive;
}

.berita-container h5{
    font-weight: 300;
}


#pc-char{
    transform: scale(0.8);
    transition: 1s ease-in-out;
}


.slides-berita .gambar{ 
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.tulisan img{
    width: 80%;
}

.tulisan h5{
    width: 95%;
}

.tulisan .karakter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.tulisan .senjata{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slides-berita .tulisan{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    position: relative;
}

.berita-container .slides-berita{
    background-color: rgba(53, 45, 45, 1);
    height: 80%;
    width: 85%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

section .home-2 .berita-container{
    margin-top: 6vh;
    width: 80%;
    height: 66vh;
    background-color: rgba(42, 42, 42, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button .bar{
    padding-left: 0.7em;
    padding-right: 0.7em;
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 2%;
    cursor: pointer;
}

.button{
    display: flex;
    width: 50%;
    height: 7%;
    justify-content: center;
}

section .home-2{
    background-image:url("jenshinFolder/bg-homepage-2.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer .sosial-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.sosial-media img{
    padding: 0.5em;
}

footer div h7{
    color: white;
    text-align: center;
    padding: 0.5em;
    display: flex;
        
}

footer div .policy{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

footer div{
    margin-top: 1vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

footer .logo-corporate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 44vh;
    justify-content: center;
}

#pc-char{
    object-fit: scale-down;
}
@media screen and (max-width: 650px){
    #nav-logo-jenshin{
        display: none;
    }
    .invokation{
        transform: scale(0.8);
    }
    #pc-char{
        object-fit: scale-down;
    }
}

@media screen and (max-width: 540px){
    .tulisan{
        background-color: rgba(0, 0, 0, 0.4);
    }
}

@media screen and (max-width: 430px){
    nav a{
        padding: 1.6em;
    }
    header .daftar{
        display: none;
    }
    header{
        justify-content: center;
    }    
}

@media screen and (max-width: 375px){
    nav a{
        padding: 1em;
    }
    #pc-char{
        transform: scale(0.5);
    }
    .tulisan h3{
        transform: scale(0.9);
    }
}

@media screen and (max-width: 1064px){
    footer div{
        width: 70%;
    }
    footer .logo-corporate{
        width: 60%;
    }
}

@media screen and (max-width: 760px){
    footer div{
        width: 80%;
    }
    footer .logo-corporate{
        width: 70%;
    }
    footer .sosial-media{
        width: 50%;
    }
}

@media screen and (max-width: 585px){
    footer div{
        width: 90%;
    }
    footer .logo-corporate{
        width: 85%;
    }
    footer .sosial-media{
        width: 60%;
    }
}

@media screen and (max-width: 445px){
    footer div{
        width: 100%;
    }
    footer .logo-corporate{
        width: 120%;
        transform: scale(0.7);    
    }
    footer .sosial-media{
        width: 70%;
    }
    .home-1 h2{
        text-align: center;
    }
}

@media screen and (max-width: 340px){
    footer div{
        width: 90%;
    }
    footer .sosial-media{
        width: 80%;
    }
}

/* @media screen and (max-width: 895px){
    .berita{
        transform: scale(0.8);
    }
    .tulisan h5{
        transform: scale(0.95);
    }
    .tulisan h3{
        transform: scale(0.95);
    }
}

@media screen and (max-width: 710px){
    .berita{
        transform: scale(0.7);
    }
    .tulisan h5{
        transform: scale(0.9);
    }
    .tulisan h3{
        transform: scale(0.9);
    }
}

@media screen and (max-width: 615px){
    .berita{
        transform: scale(0.6);
    }
    .tulisan h5{
        transform: scale(0.85);
    }
    .tulisan h3{
        transform: scale(0.85);
    }
}

@media screen and (max-width: 525px){
    .berita{
        transform: scale(0.5);
    }
    .tulisan h5{
        transform: scale(0.85);
    }
    .tulisan h3{
        transform: scale(0.85);
    }
}

@media screen and (max-width: 435px){
    .berita{
        transform: scale(0.3);
    }
    .tulisan h5{
        transform: scale(0.85);
    }
    .tulisan h3{
        transform: scale(0.85);
    }
} */
.tulisan{
    object-fit: scale-down;
}

@media screen and (max-width: 620px){
    .berita{
        transform: scale(0.9);
    }
}

@media screen and (max-width: 500px){
    .berita{
        transform: scale(0.8);
    }
}

@media screen and (max-width: 400px){
    .berita{
        transform: scale(0.7);
    }
}

@media screen and (max-width: 320px){
    .tulisan h3{
        font-size: clamp(1.00rem, calc(0.93rem + 0.36vw), 1.25rem);
    }
    .tulisan h5{
        font-size: clamp(0.64rem, calc(0.59rem + 0.23vw), 0.80rem);
    }
}