@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kumar+One&display=swap');

body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: clamp(1.95rem, calc(1.81rem + 0.70vw), 2.44rem);
    font-family: 'JetBrains Mono', monospace;
}

h2{
    font-size: clamp(1.56rem, calc(1.45rem + 0.56vw), 1.95rem);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

h3{
    font-size: clamp(1.25rem, calc(1.16rem + 0.45vw), 1.56rem);
    font-family: 'JetBrains Mono', monospace;
}

h4{
    font-size: clamp(1.00rem, calc(0.93rem + 0.36vw), 1.25rem);
    font-family: 'JetBrains Mono', monospace;
}

h5{
    font-size: clamp(0.80rem, calc(0.74rem + 0.29vw), 1.00rem);
    font-family: 'JetBrains Mono', monospace;
}

h6{
    font-size: clamp(0.64rem, calc(0.59rem + 0.23vw), 0.80rem);
    font-family: 'JetBrains Mono', monospace;
}

h7{
    font-size: clamp(0.51rem, calc(0.48rem + 0.18vw), 0.64rem);
    font-family: 'JetBrains Mono', monospace;
}


nav ul{
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 0;
}

nav a{
    padding: 1.45em;
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: clamp(0.80rem, calc(0.74rem + 0.29vw), 1.00rem);
    text-align: center;
}

.curr-nav{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

header .daftar{
    display: flex;
    width: 15%;
    height: 100%;
    background-color: #FFCF25;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: clamp(1.25rem, calc(1.16rem + 0.45vw), 1.56rem);
    color: rgba(0, 0, 0, 1);
}

header .daftar:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    height: 100%;
}

header nav a:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    height: 100%;
}

header{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    text-align: center;
}

section .info-1 img{
    margin-top: 35vh;
}

section .info-1 h4{
    display: flex;
    color: white;
    text-align: center;
    width: 80%;
    background-color:rgba(0, 0, 0, 0.6);
    margin-top: 5vh;
}

section .info-1{
    background-image: url("jenshinFolder/bg-info-1-revisi.png");
    width: 100%;
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

section .info-2 .judul h2{
    font-weight: 500;
    color: white;
    padding: 0.3em;
}

.balik{
    transform: scaleX(-1);
}

section .info-2 .judul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    text-align: center;
}
 
.fitur-1 img:last-child{
    position: absolute;
    bottom: 0;
    right: -8vw;
}

.fitur-1{
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 570px;
    margin-right: auto;
    margin-left: 10vw;
    padding: 4em;
}

.fitur-2 img:last-child{
    position: absolute;
    bottom: 0;
    left: 0;
}

.fitur-2{
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 570px;
    margin-left: auto;
    margin-right: 10vw;
    padding: 5em;
}

.fitur-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80vw;
}

#video{
    margin-top: 10vh;
}

.btn{
    background-image: url("jenshinFolder/icon-video-button.png");
    width: 22px;
    height: 23px;
    cursor: pointer;
}


.btn.active{
    background-image: url("jenshinFolder/icon-video-button-clicked.png");
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.8em;
}

.all-pic{
    width: 700px;
    position: relative;
    height: 420px;
    /* margin-top: 7vh; */
    overflow: hidden;
}

.all-pic .slide{
    width: 100%;
    height: 100%;
    transition: 1s;
    position: absolute;
}

.carouselkw .b-cuplikan{
    width: 85px;
    height: 107px;
    cursor: pointer;
}

.carouselkw{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4em;
}


.video-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80vw;
    margin-top: 5vh;
    justify-content: center;
}

.scroll-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 500vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0.25);
}

.scroll-container::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0.1);
}

.scroll-container::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 1);
}

.scroll-container::-webkit-scrollbar-button{
    background-color: black;
}

.scroll-container::-webkit-scrollbar-corner{
    background-color: black;
}

section .info-2{
    background-image: url("jenshinFolder/bg-info-2.png");
    width: 100vw;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}



footer .sosial-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

footer div h7{
    color: white;
    text-align: center;
}

footer div .policy{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

footer div{
    margin-top: 1vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

footer .logo-corporate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

footer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: black;
    width: 100%;
    height: 44vh;
}


@media screen and (max-width: 650px){
    #nav-logo-jenshin{
        display: none;
    }
}

@media screen and (max-width: 430px){
    nav a{
        padding: 1.6em;
    }
    header .daftar{
        display: none;
    }
    header{
        justify-content: center;
    }
}

@media screen and (max-width: 1150px){
    .fitur-game{
        transform: scale(0.88);
        margin-top: -20vh;
    }
    .video-game{
        transform: scale(0.88);
        margin-top: -20vh;
    }
    .cuplikan{
        transform: scale(0.88);
        margin-top: -10vh;
    }
}

@media screen and (max-width: 1040px){
    .fitur-game{
        transform: scale(0.78);
        margin-top: -38vh;
    }
    .video-game{
        transform: scale(0.78);
        margin-top: -50vh;
    }
    .cuplikan{
        transform: scale(0.78);
        margin-top: -20vh;
    }
}

@media screen and (max-width: 970px){
    .fitur-game{
        transform: scale(0.65);
        margin-top: -60vh;
    }
    .video-game{
        transform: scale(0.65);
        margin-top: -80vh;
    }
    .cuplikan{
        transform: scale(0.65);
        margin-top: -35vh;
    }
    .fitur-2{
        margin-left: -5vw;
    }
}

@media screen and (max-width: 860px){
    .fitur-game{
        transform: scale(0.57);
        margin-top: -75vh;
    }
    .video-game{
        transform: scale(0.57);
        margin-top: -95vh;
    }
    .cuplikan{
        transform: scale(0.57);
        margin-top: -40vh;
    }
}

@media screen and (max-width: 775px){
    .fitur-game{
        transform: scale(0.45);
        margin-top: -95vh;
    }
    .video-game{
        transform: scale(0.45);
        margin-top: -120vh;
    }
    .cuplikan{
        transform: scale(0.45);
        margin-top: -52vh;
    }
}

@media screen and (max-width: 660px){
    .fitur-game{
        transform: scale(0.5);
        margin-top: -85vh;
    }
    .video-game{
        transform: scale(0.5);
        margin-top: -105vh;
    }
    .cuplikan{
        transform: scale(0.5);
        margin-top: -45vh;
    }
    .fitur-1{
        margin-left: 0;
        margin-right: 0;
    }
    .fitur-2{
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 560px){
    .carouselkw{
        transform: scale(0.9);
    }
}

@media screen and (max-width: 520px){
    .fitur-game{
        transform: scale(0.4);
        margin-top: -103vh;
    }
    .video-game{
        transform: scale(0.4);
        margin-top: -125vh;
    }
    .cuplikan{
        transform: scale(0.4);
        margin-top: -55vh;
    }
}

@media screen and (max-width: 410px){
    .fitur-game{
        transform: scale(0.35);
        margin-top: -110vh;
    }
    .video-game{
        transform: scale(0.35);
        margin-top: -135vh;
    }
    .cuplikan{
        transform: scale(0.35);
        margin-top: -60vh;
    }


}